.standings {
  width: 100vw;

  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002b24;
}

.content {
  max-width: 1800px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leagueLogo {
  position: relative;
  width: 220px;
  height: 220px;
}

.title {
  color: #f9f9f9;
  font-size: 2.2rem;
  margin-top: -20px;
  margin-bottom: 20px;
}

.tableWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.table {
  width: 100%;

  border-collapse: collapse;
  background-color: #01332c;
  color: white;
  border-radius: 12px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 14px;
  text-align: center;
}

.table th {
  background-color: #024237;
  font-size: 2rem;
}

.table tr {
  font-size: 1.9rem;
}

.table tr:nth-child(even) {
  background-color: #014338;
}

.teamCell {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}

.teamName {
  display: inline-block;
}

/* Responsive styles for mobile */
@media (max-width: 880px) {
  .leagueLogo {
    width: 100px;
    height: 100px;
  }

  .title {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .table {
    font-size: 1.2rem;
    min-width: unset;
    max-width: unset;
  }

  .table th {
    font-size: 1.2rem;
    padding: 6px;
  }

  .table td {
    font-size: 1rem;
    padding: 6px;
  }

  .teamCell {
    gap: 6px;
  }

  .table img {
    width: 20px !important;
    height: 20px !important;
  }

  .teamName {
    width: 3ch;
    white-space: nowrap;
    overflow: hidden;
  }

  .content {
    width: 100%;
  }
}
