.standings {
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002b24;
}

.leagueLogo {
  position: relative;
  width: 220px;
  height: 220px;
}

.title {
  color: #f9f9f9;
  font-size: 2.2rem;
  margin-top: -20px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  max-width: 1260px;
  border-collapse: collapse;
  background-color: #01332c;
  color: white;
  border-radius: 12px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 14px;
  text-align: center;
}

.table th {
  background-color: #024237;

  font-size: 2rem;
}

.table tr {
  font-size: 1.9rem;
}

.table tr:nth-child(even) {
  background-color: #014338;
}

.teamCell {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
