/* app/globals.css */

@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: rgb(16, 56, 47);
  overflow-x: hidden;
}

.layout {
  width: 100vw;
  min-height: 100vh;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .layout {
    padding-top: 100px;
  }
}

.title-font {
  font-family: var(--font-audiowide), sans-serif;
  letter-spacing: 2px;
  font-style: normal;
}

.text-font {
  font-family: var(--font-courier-prime), monospace;
  font-style: normal;
  font-weight: 400;
}
