.affiliate {
  position: fixed;
  bottom: 10px;
  left: 10px;

  padding: 12px 24px;

  color: rgb(8, 14, 20);

  font-size: 2rem;
  background-color: rgb(245, 241, 22);

  font-weight: bold;

  border-radius: 6px;
  border: 2px solid white;

  cursor: pointer;
  z-index: 1;
}
