.wrapper {
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  padding: 20px;
}

.fixtures {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fixture {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.teamInitials {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 40%;
  min-width: 150px;
}

.teamLogo {
  width: 70px;
  height: 70px;
  position: relative;
}

.teamName {
  color: white;
  font-size: 2rem;
}

.teamPosition {
  font-size: 1.6rem;
  color: rgb(133, 208, 211);
  margin-top: -16px;
}

.result {
  font-size: 2rem;
  color: rgb(133, 208, 211);
  text-align: center;
  width: 10%;
}

.betButton {
  width: 120px;
  height: 45px;
  font-size: 2rem;
  color: white;
  background-color: rgb(54, 209, 92);
  border: none;
  cursor: pointer;
}

.navigationButtons {
  font-size: 2.5rem;
  color: rgb(255, 121, 11);
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.navigationButtons button {
  cursor: pointer;
}

.weekLabel {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  width: fit-content;
}

.betWindow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.betOption {
  color: white;
  border: 2px solid white;
  font-size: 2rem;
  padding: 0px 12px;
  cursor: pointer;
  white-space: nowrap;
}

.submitBetBtn {
  font-size: 2rem;
  color: rgb(19, 34, 20);
  background-color: rgb(252, 187, 67);
  padding: 0px 12px;
  border: 2px solid white;
  cursor: pointer;
  white-space: nowrap;
}

.betValue {
  color: white;
  border: 2px solid rgb(236, 240, 4);
  width: 110px;
  padding-left: 12px;
  font-size: 2rem;
  cursor: pointer;
}

.amount {
  color: rgb(73, 250, 3);
  width: 110px;
  padding-left: 12px;
  font-size: 2rem;
}

.selected {
  background-color: rgb(6, 192, 62);
}

/* Responsive styles */
@media (max-width: 868px) {
  .fixture {
    gap: 12px;
    flex-wrap: nowrap;
  }

  .teamInitials {
    width: min-content;
    justify-content: center;
    min-width: fit-content;
  }

  .teamName {
    font-size: 1.6rem;
    text-align: center;
  }

  .teamLogo {
    position: relative;
    width: 30px;
    height: 30px;
  }

  .result {
    font-size: 1.6rem;
    width: auto;
  }

  .betButton {
    font-size: 1.6rem;
  }

  .betOption,
  .submitBetBtn,
  .betValue,
  .amount {
    font-size: 1.4rem;
    padding: 4px 8px;
  }

  .betOption {
    width: 100%;
  }

  .betValue,
  .amount {
    width: 90px;
  }

  .navigationButtons {
    font-size: 1.2rem;

    gap: 8px;
  }

  .navigationButtons button {
    width: 100%;
  }

  .weekLabel {
    position: static;
    font-size: 1.6rem;
    margin-top: 8px;
  }
}
